/* General Styles */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 15vw; /* Increased for better spacing */
  background-color: #0A0A0A;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
}

.navbar {
  height: 12vh; /* Increased height */
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.graphAndCards {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 20px;
}

.middleSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjusted for better layout */
  gap: 20px;
  width: 100%;
}

.bottomSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 75vh;
  width: 85vw;
}

.middleSection > div, .bottomSection > div {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.globeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh; /* Adjusted to give space for the 3D globe */
  background-color: transparent; /* Ensures the globe effect is prominent */
}

/* Responsive Styles */
@media (max-width: 900px) {
  .topSection {
    flex-direction: column; /* Stack topSection vertically */
  }

  .graphAndCards {
    flex-direction: column; /* Stack Graph and TrafficChart vertically */
    gap: 10px; /* Adjust gap for vertical stacking */
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 20vw; /* Adjust sidebar width for smaller screens */
  }

  .bottomSection {
    flex-direction: column; /* Stack bottomSection vertically */
    width: 100vw; /* Full width on smaller screens */
  }

  .middleSection {
    grid-template-columns: 1fr; /* Single column grid for very small screens */
  }
}
