/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/55c55f0601d81cf3-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/26a46d62cd723877-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/97e0cb1ae144a2a9-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/581909926a08bbc8-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/6d93bde91c0c2823-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_36bd41';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/a34f9d1faa5f3315-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_36bd41';src: local("Arial");ascent-override: 90.49%;descent-override: 22.56%;line-gap-override: 0.00%;size-adjust: 107.06%
}.__className_36bd41 {font-family: '__Inter_36bd41', '__Inter_Fallback_36bd41';font-style: normal
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Cards/StatCard.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
/* components/StatCard.module.css */
.StatCard_card__Tsj2w {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 20vw;
    height: 15vh;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.StatCard_iconContainer__iuVGk {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
}

.StatCard_icon__bArHK {
    font-size: 3vw;
}

.StatCard_content__Rwuxv {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.StatCard_title__vGqfw {
    font-size: 1.vw;
    font-weight: bold;
}

.StatCard_value__VkttV {
    font-size: 2vw;
    margin: 0.5vw 0;
}

.StatCard_dateRange__zk8SB {
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.7);
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .StatCard_card__Tsj2w {
        width: 25vw;
        height: 17vh;
    }

    .StatCard_icon__bArHK {
        font-size: 4vw;
    }

    .StatCard_title__vGqfw {
        font-size: 2vw;
    }

    .StatCard_value__VkttV {
        font-size: 2.5vw;
    }

    .StatCard_dateRange__zk8SB {
        font-size: 1.2vw;
    }
}

@media (max-width: 768px) {
    .StatCard_card__Tsj2w {
        flex-direction: column;
        width: 60vw;
        height: auto;
        padding: 4vw;
    }

    .StatCard_icon__bArHK {
        font-size: 6vw;
    }

    .StatCard_content__Rwuxv {
        align-items: center;
        text-align: center;
    }

    .StatCard_title__vGqfw {
        font-size: 4vw;
    }

    .StatCard_value__VkttV {
        font-size: 6vw;
    }

    .StatCard_dateRange__zk8SB {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    .StatCard_card__Tsj2w {
        width: 80vw;
    }

    .StatCard_icon__bArHK {
        font-size: 8vw;
    }

    .StatCard_title__vGqfw {
        font-size: 5vw;
    }

    .StatCard_value__VkttV {
        font-size: 7vw;
    }

    .StatCard_dateRange__zk8SB {
        font-size: 3vw;
    }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Graph/Graph.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Graph_container__a2OJo {
  background-color: #151518 ;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 65vw;
  margin: 1vw 2vw 1vw 0;
  height: 50vh; /* Adjust height to fit within the viewport height */
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ensure padding is included in the width and height */
  margin-left: 3vw;
}

.Graph_detailsAndChart__MRGUN {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  overflow: hidden; /* Prevent overflow */
}

.Graph_details__blCh7 {
  flex: 1;
  margin-right: 20px;
  min-width: 150px; /* Minimum width to prevent collapse on small screens */
}

.Graph_chart__Cz4vK {
  flex: 2;
  position: relative;
  height: 100%; /* Full height of the container */
}

.Graph_canvas__hz_in {
  display: block;
  color: white;
  height: 100%;
  width: 100%;
}

.Graph_footer__uoriT {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.Graph_stat__Mf7bR {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 10px; /* Add space between stats */
  flex: 1;
}

.Graph_icon__0cuHf {
  font-size: 24px;
  margin-right: 10px;
}

.Graph_stat__Mf7bR p {
  margin: 0;
  font-size: 14px;
}

.Graph_stat__Mf7bR h3 {
  margin: 0;
  font-size: 18px;
}

.Graph_para__eZeHl {
  font-size: 16px;
  color:white;
}

.Graph_head1__T6xa8 {
  font-size: 36px;
  margin: 10px 0;
}

.Graph_summaryButton__XstL5 {
  background-color: #6254ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.Graph_summaryButton__XstL5:hover {
  background-color: #4d43d2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Graph_detailsAndChart__MRGUN {
    flex-direction: column;
  }

  .Graph_details__blCh7 {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .Graph_chart__Cz4vK {
    height: 300px; /* Adjust chart height for smaller screens */
  }

  .Graph_footer__uoriT {
    flex-direction: column;
    align-items: flex-start;
  }

  .Graph_stat__Mf7bR {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .Graph_details__blCh7 {
    font-size: 14px;
  }

  .Graph_head1__T6xa8 {
    font-size: 28px;
  }

  .Graph_summaryButton__XstL5 {
    font-size: 12px;
    padding: 8px 16px;
  }

  .Graph_chart__Cz4vK {
    height: 200px; /* Adjust chart height for very small screens */
  }

  .Graph_footer__uoriT {
    font-size: 12px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Sidebar/Sidebar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Sidebar_sidebar__J7H_G {
  height: 150vh;
  background-color: #000000;
  color: white; /* Tailwind's gray-400 */
  width: 5vw; /* Tailwind's w-20 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; /* Tailwind's py-4 */
  border: #374151 1px solid;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* 3D shadow */

}

.Sidebar_sidebar__J7H_G:hover {
  transform: perspective(1000px) rotateY(0deg); /* Straighten out on hover */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7); /* Stronger shadow on hover */
}

.Sidebar_iconGroup__H1l5W {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem; /* Adjusted to use gap for consistent spacing */
}

.Sidebar_iconButton__ps41x {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem; /* Tailwind's p-2 */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.Sidebar_iconButton__ps41x:hover {
  background-color: #374151; /* Tailwind's gray-700 */
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  transform: translateZ(10px); /* Lift icon slightly on hover for 3D effect */
}

.Sidebar_icon__fVykq {
  height: 1.5rem; /* Tailwind's h-6 */
  width: 1.5rem; /* Tailwind's w-6 */
  color: white; /* Tailwind's gray-400 */
  transition: color 0.3s ease, transform 0.3s ease;
}

.Sidebar_icon__fVykq:hover {
  color: white;
  transform: scale(1.1); /* Slightly enlarge icon on hover */
}

.Sidebar_bottomIcons__429C5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* Adjusted to use gap for consistent spacing */
  margin-top: auto;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Cards/StatCardContainer.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
.StatCardContainer_container__NKllY {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 85vw;
    padding: 2vw;
    margin-left: 5vh;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Responsive design for tablets */
@media (max-width: 768px) {
    .StatCardContainer_container__NKllY {
        flex-direction: column; /* Stack items vertically */
        width: 100vw;
        /* padding: 4vw; */
        /* margin-left: 2vh; */
    }
}

/* Responsive design for mobile devices */
@media (max-width: 480px) {
    .StatCardContainer_container__NKllY {
        width: 95vw;
        padding: 5vw;
        margin-left: 1vh;
    }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/TrafficCard/TrafficCard.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************/
/* Container for the Traffic Chart component */
.TrafficCard_container__tf1tb {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 50vh; /* Consistent height */
    width: 20vw; /* Full width for responsiveness */
    max-width: 400px; /* Limit the maximum width */
    background-color: #151518;
    /* background-color: aliceblue; */
    padding: 20px;
    margin-bottom: 2vw;
    border-radius: 20px;
    margin: 1vw 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative; /* Relative positioning for icon centering */
}

/* Container for the chart and the icon */
.TrafficCard_chartContainer__brNT6 {
    /* position: re; */
    margin-top: 5vw;
    width: 100%; /* Ensures it takes full width of the parent */
    height: 100%; /* Ensures it takes full height of the parent */
}


/* Icon styling */
.TrafficCard_icon__GH7gY {
    color: white;
    font-size: 5rem;
}

/* Labels container for below the chart */
.TrafficCard_labels__w6VLx {
    position: absolute;
    display: flex;
    flex-direction: row; /* Stack labels vertically */
    align-items: flex-start; /* Align labels to the start */
    justify-content: center; /* Center labels */
    margin-top: 2rem; /* Space between the chart and the labels */
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #E0E0E0; /* Light grey for better contrast */
    width: 100%; /* Ensure labels take full width */
}

/* Individual label styling */
.TrafficCard_labels__w6VLx div {
    margin-bottom: 5px;
}

/* Facebook-specific label color */
.TrafficCard_facebook__GEqyz {
    color: #AA6CFC;
}

/* YouTube-specific label color */
.TrafficCard_youtube__6Nefh {
    color: #FC5A5A;
}

/* Direct Search-specific label color */
.TrafficCard_directSearch__tTOGn {
    color: #1ED5A9;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
    .TrafficCard_container__tf1tb {
        height: auto; /* Allow height to adjust based on content */
        width: 65vw; /* Responsive width on smaller screens */
        max-width: none; /* Remove max-width for full responsiveness */
        /* padding: 15px;  */
        margin-left: 1vw;
    }

    .TrafficCard_iconWrapper__1vQq0 {
        width: 40px; /* Smaller icon on tablets */
        height: 40px;
    }

    .TrafficCard_icon__GH7gY {
        font-size: 20px; /* Adjust icon size */
    }

    .TrafficCard_labels__w6VLx {
        font-size: 13px; /* Slightly smaller font size on tablets */
    }
}

@media screen and (max-width: 768px) {
    .TrafficCard_container__tf1tb {
        height: auto; /* Allow height to adjust based on content */
        width: 90vw; /* Full width on mobile */
        padding: 10px; /* Further reduce padding */
    }

    .TrafficCard_iconWrapper__1vQq0 {
        width: 35px; /* Smaller icon on mobile */
        height: 35px;
    }

    .TrafficCard_icon__GH7gY {
        font-size: 18px; /* Adjust icon size */
    }

    .TrafficCard_labels__w6VLx {
        font-size: 12px; /* Smaller font size on mobile */
        margin-top: 5px; /* Adjust space between chart and labels */
    }
}

@media screen and (max-width: 480px) {
    .TrafficCard_container__tf1tb {
        height: auto; /* Allow height to adjust based on content */
        width: 95vw; /* Almost full width on very small screens */
        padding: 8px; /* Further reduce padding for smaller screens */
    }

    .TrafficCard_iconWrapper__1vQq0 {
        width: 30px; /* Even smaller icon on small mobile devices */
        height: 30px;
    }

    .TrafficCard_icon__GH7gY {
        font-size: 16px; /* Adjust icon size */
    }

    .TrafficCard_labels__w6VLx {
        font-size: 11px; /* Smaller font size on very small screens */
    }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.4.9 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.pointer-events-none {
  pointer-events: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-x-0 {
  left: 0px;
  right: 0px;
}
.-bottom-20 {
  bottom: -5rem;
}
.bottom-0 {
  bottom: 0px;
}
.z-10 {
  z-index: 10;
}
.z-40 {
  z-index: 40;
}
.z-\[1\] {
  z-index: 1;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.h-40 {
  height: 10rem;
}
.h-72 {
  height: 18rem;
}
.h-96 {
  height: 24rem;
}
.h-\[169\%\] {
  height: 169%;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.w-96 {
  width: 24rem;
}
.w-\[138\%\] {
  width: 138%;
}
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.max-w-7xl {
  max-width: 80rem;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes spotlight {

  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%,-40%) scale(1);
  }
}
.animate-spotlight {
  animation: spotlight 2s ease .75s 1 forwards;
}
.select-none {
  user-select: none;
}
.resize {
  resize: both;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.to-white {
  --tw-gradient-to: #fff var(--tw-gradient-to-position);
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.opacity-0 {
  opacity: 0;
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.ease-linear {
  transition-timing-function: linear;
}
.\[transform-style\:preserve-3d\] {
  transform-style: preserve-3d;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (min-width: 768px) {

  .md\:h-\[40rem\] {
    height: 40rem;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:h-full {
    height: 100%;
  }
}

@media (min-width: 1024px) {

  .lg\:w-\[84\%\] {
    width: 84%;
  }
}

@media (prefers-color-scheme: dark) {

  .dark\:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }

  .dark\:to-black {
    --tw-gradient-to: #000 var(--tw-gradient-to-position);
  }
}

.\[\&\>\*\]\:\[transform-style\:preserve-3d\]>* {
  transform-style: preserve-3d;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Navbar/Navbar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
/* Navbar container */
.Navbar_navbar__ZtQZb {
  display: flex;
  align-items: center;
  height: 70px; /* Increased height from 50px to 70px */
  width: 95vw; /* Adjusted width to leave space for the sidebar */
  /* background-color: #e60000; */
  color: #fff;
  border: #333 1px solid;
  padding: 0 1rem; /* Add padding for better spacing */
}

/* Left section */
.Navbar_navbarLeft__cOvAv {
  display: flex;
  align-items: center;
}

/* Navbar Title */
.Navbar_navbarTitle__jvq42 {
  font-size: 1.125rem;
  font-weight: 600;
}

/* Dropdown Icon */
.Navbar_dropdownIcon__hcnBZ {
  color: #888;
}

/* Center section (Search) */
.Navbar_searchContainer__kN10D {
  position: relative;
  flex: 1; /* Allow the search container to grow and shrink */
  max-width: 300px; /* Set a maximum width */
  margin: 0 auto; /* Center align the search container */
}

.Navbar_searchInput__DN859 {
  width: 100%;
  padding: 0.5rem 2.5rem;
  background-color: #333;
  border-radius: 9999px;
  font-size: 0.875rem;
  color: #bbb;
  border: none;
  outline: none;
}

.Navbar_searchIcon__NJ6LA {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1.25rem;
  width: 1.25rem;
  color: #555;
}

/* Right section */
.Navbar_navbarRight__9TPtY {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto; /* Pushes the right section to the far right */
}

/* Notifications */
.Navbar_notificationContainer__pWGO0 {
  position: relative;
}

.Navbar_notificationIcon__I1J6Z {
  height: 1.5rem;
  width: 1.5rem;
  color: #bbb;
}

.Navbar_notificationBadge__wX0zB {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  background-color: #e60000;
  color: #fff;
  font-size: 0.75rem;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

/* Date Info */
.Navbar_dateInfo__RKC8_ {
  font-size: 0.875rem;
  color: #bbb;
}

/* User Profile */
.Navbar_profileContainer__8RlB1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Navbar_profileImage__LnnRc {
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
}

.Navbar_profileName__xUYv6 {
  font-size: 0.875rem;
  font-weight: 600;
}

.Navbar_profileUsername__nSalM {
  font-size: 0.75rem;
  color: #bbb;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Navbar_navbar__ZtQZb {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 1rem;
  }

  .Navbar_navbarRight__9TPtY {
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .Navbar_searchContainer__kN10D {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/Orders/Orders.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Orders_ordersContainer____k_e {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 60vw; /* Width of the container */
  background-color: #151518;
  border-radius: 8px;
  margin: 0vw 0vw 2vh 3vw;
  /* margin-right: 5vw; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Include padding in width calculation */
  padding: 1rem;
}

.Orders_header__SxFPR {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Orders_title__ndbSa {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.Orders_subtitle__Jo1LS {
  margin: 0;
  color: white;
}

.Orders_actions__3U8ft {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.Orders_actionButton__KbzrW {
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Orders_addButton__Nx79n {
  background-color: #ff4d4f;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.Orders_addIcon__eyJFX {
  font-size: 1rem;
}

.Orders_tableContainer__pksoj {
  flex-grow: 1; /* Allow the table to take up the remaining space */
  overflow-x: auto; /* Enable horizontal scrolling for small screens */
}

.Orders_table__ON1MW {
  width: 100%; /* Use full width */
  border-collapse: collapse; /* Ensures borders collapse */
}

.Orders_table__ON1MW th, .Orders_table__ON1MW td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.Orders_table__ON1MW th {
  color: white;
  font-weight: 600;
}

.Orders_table__ON1MW td {
  color: white;
}

.Orders_status__u8_7Y {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
}

.Orders_process__VWhrH {
  background-color: #ff4d4f;
}

.Orders_open__sMAWo {
  background-color: #722ed1;
}

.Orders_onHold__mRWpE {
  background-color: #2f54eb;
}

.Orders_pagination__Nz_Ri {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.Orders_pageButton__si0NZ {
  background-color: #e0e0e0;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0.25rem;
}

.Orders_pageButton__si0NZ:hover {
  background-color: #d0d0d0;
}

.Orders_pageButton__si0NZ.Orders_active__nd_Ve {
  background-color: #ff4d4f;
  color: #fff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .Orders_ordersContainer____k_e {
    display: flex;
    flex-direction: column;
    width: 90vw; /* Adjust width for smaller screens */
    padding: 0.5rem;
  }

  .Orders_header__SxFPR {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .Orders_title__ndbSa {
    font-size: 1.25rem; /* Adjust title size */
  }

  .Orders_actions__3U8ft {
    flex-direction: column; /* Stack action buttons vertically */
    gap: 0.25rem;
  }

  .Orders_actionButton__KbzrW {
    padding: 0.5rem;
    font-size: 0.875rem; /* Adjust font size */
  }

  .Orders_addIcon__eyJFX {
    font-size: 0.875rem; /* Adjust icon size */
  }

  .Orders_tableContainer__pksoj {
    overflow-x: auto; /* Enable horizontal scrolling for tables */
  }

  .Orders_table__ON1MW th, .Orders_table__ON1MW td {
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }

  .Orders_status__u8_7Y {
    font-size: 0.875rem; /* Adjust font size for status badges */
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/Molecule/Dashboard.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
/* General Styles */
.Dashboard_container__uF0xw {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Dashboard_sidebar__Ob6lc {
  width: 15vw; /* Increased for better spacing */
  background-color: #0A0A0A;
}

.Dashboard_main__pUTQu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
}

.Dashboard_navbar__PxCll {
  height: 12vh; /* Increased height */
  background-color: #1A1A1A;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Dashboard_content__newtp {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Dashboard_topSection__3LR8y {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Dashboard_graphAndCards__o4C2L {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 20px;
}

.Dashboard_middleSection__64JAD {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjusted for better layout */
  gap: 20px;
  width: 100%;
}

.Dashboard_bottomSection__KSFsr {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 75vh;
  width: 85vw;
}

.Dashboard_middleSection__64JAD > div, .Dashboard_bottomSection__KSFsr > div {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.Dashboard_globeContainer__sLGkK {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh; /* Adjusted to give space for the 3D globe */
  background-color: transparent; /* Ensures the globe effect is prominent */
}

/* Responsive Styles */
@media (max-width: 900px) {
  .Dashboard_topSection__3LR8y {
    flex-direction: column; /* Stack topSection vertically */
  }

  .Dashboard_graphAndCards__o4C2L {
    flex-direction: column; /* Stack Graph and TrafficChart vertically */
    gap: 10px; /* Adjust gap for vertical stacking */
  }
}

@media (max-width: 768px) {
  .Dashboard_sidebar__Ob6lc {
    width: 20vw; /* Adjust sidebar width for smaller screens */
  }

  .Dashboard_bottomSection__KSFsr {
    flex-direction: column; /* Stack bottomSection vertically */
    width: 100vw; /* Full width on smaller screens */
  }

  .Dashboard_middleSection__64JAD {
    grid-template-columns: 1fr; /* Single column grid for very small screens */
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/RecentActivities/RecentActivities.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************/
.RecentActivities_activitiesContainer__Tk6aU {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 35vw; /* Occupies 35% of the viewport width */
  background-color: #151518;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Include padding in width calculation */
  /* padding: 20px; */
  margin: 0vw 0vw 2vh 3vw;
}

.RecentActivities_head3__EleVj {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: white;
}

.RecentActivities_activityItem__vUI3_ {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: #151518;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.RecentActivities_iconContainer__TMrHI {
  width: 3rem; /* Adjusted for better responsiveness */
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1rem; /* Adjusted spacing */
}

.RecentActivities_icon__47blY {
  color: #fff;
  font-size: 2rem; /* Adjusted for better visibility */
}

.RecentActivities_textContainer__GadLZ {
  display: flex;
  flex-direction: column;
}

.RecentActivities_time__UFpnL {
  font-size: 0.8rem;
  color: white;
}

.RecentActivities_title__38f1q {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin: 5px 0;
}

.RecentActivities_description__h7XjU {
  font-size: 0.9rem;
  color: white;
}

@media (max-width: 768px) {
  .RecentActivities_activitiesContainer__Tk6aU {
    width: 90vw; /* Adjust width for smaller screens */
    padding: 15px; /* Adjust padding */
  }

  .RecentActivities_iconContainer__TMrHI {
    width: 2.5rem; /* Adjust icon size */
    height: 2.5rem;
  }

  .RecentActivities_icon__47blY {
    font-size: 1.5rem; /* Adjust icon size */
  }

  .RecentActivities_head3__EleVj {
    font-size: 1.25rem; /* Adjust heading size */
  }

  .RecentActivities_title__38f1q {
    font-size: 0.875rem; /* Adjust title size */
  }

  .RecentActivities_description__h7XjU {
    font-size: 0.8rem; /* Adjust description size */
  }
}

