.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 85vw;
    padding: 2vw;
    margin-left: 5vh;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Responsive design for tablets */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack items vertically */
        width: 100vw;
        /* padding: 4vw; */
        /* margin-left: 2vh; */
    }
}

/* Responsive design for mobile devices */
@media (max-width: 480px) {
    .container {
        width: 95vw;
        padding: 5vw;
        margin-left: 1vh;
    }
}
